<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "20"
    version     = "1.2.0" >
  <!-- nome della app -->
  <name>Calendário Canossiano</name>
  <!-- descrizione -->
  <description>
      Calendário Canossiano
  </description>
  <!-- autore -->
  <author href="https://build.phonegap.com">
      Alessandro Visigalli
  </author>
  <!-- abilita links esterni -->
  <allow-navigation href="*://*.canossamilano.org/*" />
  <allow-navigation href="*://*.canossian.org/*" />
  <!-- piattaforma di riferimento ed icona della app -->
    <platform name="android">
              <icon src="img/iconpt.png" density="ldpi" />
              <icon src="img/iconpt.png" density="mdpi" />
              <icon src="img/iconpt.png" density="hdpi" />
              <icon src="img/iconpt.png" density="xhdpi" />
     </platform>
</widget>
